FilmesClientSoap/src/wsdl/localhost_8080/FilmesServiceSoap/FilmeFacadeService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://soap.filmes.argonavis.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://soap.filmes.argonavis.com/">

<xs:element name="getTituloFilme" type="tns:getTituloFilme"/>

<xs:element name="getTituloFilmeResponse" type="tns:getTituloFilmeResponse"/>

<xs:complexType name="getTituloFilme">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getTituloFilmeResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>